.about {
  column-gap: 15px;
  grid-template-columns: repeat(6, 145px);
  display: grid;
  margin-block-start: 1rem;
  margin-block-end: 20rem;
}
.about p {
  margin: 0;
}
.about_description {
  grid-column: 4 / 7;
}

img {
  grid-column: 2 / 4;
}
