@import "icons.css";

.icon_left::before {
  content:"";
  background-image: url("../icon-facebook.png");
  display: block;
  height: 1.625rem;
  width: 1.625rem;
  border-radius: 50%;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 0.75rem;
  margin-top: -0.75rem;

}

.icon_right::after {
  content:"";
  background-image: url("../icon-facebook.png");
  display: block;
  height: 1.625rem;
  width: 1.625rem;
  border-radius: 50%;
  background-size: contain;
  position: absolute;
  top: 50%;
  right: 0.75rem;
  margin-top: -0.75rem;
}
.icon {
  display: inline-block;
  padding: 1rem;
  color: rgba(249, 249, 250, 0.993);
  background: linear-gradient(to bottom,white 4%, blue 50%, white);
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  border-radius: 3px;

}
.icon_left {
  padding-left: 3rem;
  font-size: 1rem;
}
.icon_right {
  padding-right: 3rem;
}
