@import "setup.css";
@import "icons.css";
@import "breadcrumbs.css";
@import "progress.css";



ul {
  display: none;
}
li > a {
  text-decoration: none;
}


.dropdown [type="checkbox"]:checked ~ .dropdown_contents > ul {
  display: block;
}
body {
  background: linear-gradient(to right,  rgba(250, 3, 176, 0.986) 1%, rgb(250, 250, 158) 49%, rgba(165, 42, 42, 1.431));
}
