body > nav {
  margin-block-end: -7rem;
  text-align: center;
  padding-block-start: 1rem;
}
nav ul {
  text-align: right;
  margin-top: -3rem;
}
body {
  border: 1px solid;
  width: 800px;
  height: 830px;
  margin: 8px;
  font-family: sans-serif;
}
body > nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
 nav li {
  display: inline-block;
  vertical-align: middle;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
}
body > nav a {
 color: white;
 text-decoration: none;
 text-transform: uppercase;
 font-weight: bold;
 font-size: 1rem;
}
