@charset "UTF-8";
/*body {
  background-color:  rgb(197, 197, 187);
}
*/
/*
.dory figure::after {
  content: '';
  width: 30px;
  height: 40px;
  top: 40%;
  left: 60%;
  position: absolute;
  background-image: url('../images/bubble.png'),
                    url('../images/crab.png'),
                    url('../images/coral-reef.png'),
                    linear-gradient(to bottom,lightblue 30%, rgb(141, 141, 250) 60%, rgb(238, 208, 153));
  width: 1000px;
  height: 2000px;
  background-repeat:no-repeat,
                    no-repeat,
                    repeat-x;
  background-position:center,
                      bottom left,
                      bottom;
  background-size:100px,
                  300px,
                  400px;
}
*/
.dory {
  background-image: url('../images/bubble.png'),
  url('../images/crab.png'),
  url('../images/coral-reef.png'),
  linear-gradient(to bottom,lightblue 30%, rgb(141, 141, 250) 60%, rgb(238, 208, 153));
  background-repeat: repeat-x, no-repeat, repeat-x;
  background-position: top left, bottom left, bottom;
  background-size: 4cm, 8cm, 20cm;
  max-width: 100%;
  max-height: 70vh;
}
.henry {
  background-image:
                    url('../images/grass-left.png'),
                    url('../images/beach-ball.png'),
                    url('../images/grass-clump.png'),
                    url('../images/palm-2.png'),
                    url('../images/palm.png'),
                    url('../images/grass-tile.png'),
                    url('../images/sun.png'),
  linear-gradient(to bottom, rgb(52, 52, 54),30%, rgb(252, 215, 5),70%, green);
  background-repeat: no-repeat;
  background-position: bottom left,bottom, bottom right, bottom left, bottom right, bottom right 10px, center;
  background-size: 35cm, 6cm, 15cm, 25cm, 20cm, 35cm, 6cm;
}
.lu-seal {
  background-image: url('../images/palm-2.png'),
  url('../images/grass-left.png'),
  url('../images/grass-clump.png'),
  linear-gradient(to bottom, rgb(37, 27, 2),20%, rgb(252, 194, 5),32%,rgb(2, 75, 2),42%, rgb(4, 49, 247),90%, green);
  background-repeat: no-repeat, repeat-x, repeat-x;
  background-position: bottom left, bottom, top;
  background-size: 10cm, 10cm, 10cm, 37cm;
}



