* {
/*
  Property name
  Property description
*/
  /* Property example with a value */
}
/* `Opacity` property sets the opacity of an element. Opacity is the degree to which content behind an element is hidden, and is the opposite of transparency.
*/
  /*Example*/
    p {
      opacity: 0.2;
  }
 /* Barely see the text over the background */
 /*
  `Display` property sets whether an element is treated as a block or inline element and the layout used for its children, such as flow layout, grid or flex.
 */
 /*Example;*/
  .henry {
    display: flex;
  }
  /* `Visibility` property shows or hides an element without changing the layout of a document. The property can also hide rows or columns in a <table>.
 /*Example;*/
  header {
    visibility: hidden;
  }
/*
  Questions
  =======================

  - The difference between `opacity` and a `background-color` that is semi-transparent is the background color defines the color of the element's background wheras opacity makes the element's background and the element more tranparent.

  - The difference between `display: none;` and `visibility: hidden; is that the in display none, there is no space allocated for it between the other tags wheras the visibility hidden has a space allocated for it on the page.

  - We would use `visibility: visible;` because it can also hide rows and columns in a table

*/

