
/*Stacking*/

/* All of the comments are the code using relative value*/

/*
section:nth-of-type(4) > div .rect {
  top: -204px;
 width: auto;
 position: relative;
}*/
section:nth-of-type(4) > div .rect {
 position: absolute;
}
/*
section:nth-of-type(4) > div .circle {
    width: 300px;
    height: 200px;
    position: relative;
    top: -102%;
    left: -25%;
    z-index: 11;
}*/
section:nth-of-type(4) > div .circle {
  position: absolute;
  z-index: 11;
}
/*
section:nth-of-type(4) > div .pipe {
  top: -407px;
 width: auto;
 position: relative;
 z-index: 13;
}*/
section:nth-of-type(4) > div .pipe {
 position: absolute;
 z-index: 13;
}

/*
section:nth-of-type(4) > div .bar {
  top: -613px;
 width: auto;
 position: relative;
 z-index: 12;
}*/
section:nth-of-type(4) > div .bar {
 position: absolute;
 z-index: 12;
}

/*
section:nth-of-type(4) > div {
  height: 199px;
}*/
section:nth-of-type(4) > div {
  position: relative;
}
